In [18]:
# load library
import math
import numpy as np
import pandas as pd

In [19]:
# load data
data = pd.read_csv('Data/episodes_dur.csv')

In [20]:
data.head()

   Unnamed: 0   PID  EpisodeID ContractType  duration
0           0   530          1          CT1      60.0
1           1  1107          3          CT2       6.0
2           2  1107          4          CT2       1.0
3           3   842          6          CT2       3.0
4           4  1178          7          CT2      16.0

In [21]:
data = data[["PID","EpisodeID","ContractType","duration"]]

In [22]:
#calculate the number of patient in each snf in 2019
data_snf_patientnum_year = data.groupby(['PID'])[['EpisodeID']].count()

In [23]:
data_snf_patientnum_year

      EpisodeID
PID
6            66
8           107
9            87
10            4
11           25
...         ...
1808         42
1810          2
1811          6
1812          5
1813          5

[1231 rows x 1 columns]

In [24]:
#load dataset
complete_dataset = pd.read_csv("Data/curr_complete_dataset_delete_columns.csv")

In [25]:
complete_dataset.head()

,PID,M1,M2,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12,ProviderName,lat,lng,county_name
0,6,11,5,7,6,4,3,3,5,6,5,3,11,Accel at College Station,30.56255,-96.27564,Brazos
1,8,20,12,14,12,16,17,15,8,6,6,4,7,Accel at Willow Bend,33.03550,-96.81001,Collin
2,9,10,10,15,12,11,11,12,7,10,6,10,6,Adora Midtown Park,32.87767,-96.74979,Dallas
3,10,2,0,1,0,1,0,0,0,0,0,0,0,Advance Healthcare Solutions,33.85238,-98.54057,Wichita
4,11,4,6,5,6,3,4,1,1,0,0,0,0,Advanced Health and Rehabilitation Center of G...,32.85707,-96.57941,Dallas

In [26]:
# combine the number of patient column into complete_dataset and create a new data frame
result = pd.merge(data_snf_patientnum_year, complete_dataset, how='left', on='PID')

In [27]:
result.rename(columns={'EpisodeID':'patient_number_year'}, inplace = True)

In [28]:
result.head()

,PID,patient_number_year,M1,M2,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12,ProviderName,lat,lng,county_name
0,6,66,11,5,7,6,4,3,3,5,6,5,3,11,Accel at College Station,30.56255,-96.27564,Brazos
1,8,107,20,12,14,12,16,17,15,8,6,6,4,7,Accel at Willow Bend,33.03550,-96.81001,Collin
2,9,87,10,10,15,12,11,11,12,7,10,6,10,6,Adora Midtown Park,32.87767,-96.74979,Dallas
3,10,4,2,0,1,0,1,0,0,0,0,0,0,0,Advance Healthcare Solutions,33.85238,-98.54057,Wichita
4,11,25,4,6,5,6,3,4,1,1,0,0,0,0,Advanced Health and Rehabilitation Center of G...,32.85707,-96.57941,Dallas

In [29]:
# load CCs.csv dataset
cc_number = pd.read_csv("Data/CCs.csv")

In [30]:
# add relative columns from CCs.csv into current complete dataset
result2 = pd.merge(result, cc_number, how='left', on='PID')

In [31]:
result2.head()

,PID,patient_number_year,M1,M2,M3,M4,M5,M6,M7,M8,...,M11,M12,ProviderName,lat,lng,county_name,num_mins,num_hours,num_weeks,num_CC
0,6,66,11,5,7,6,4,3,3,5,...,3,11,Accel at College Station,30.56255,-96.27564,Brazos,19298.0,321.633333,6.185256,0.154631
1,8,107,20,12,14,12,16,17,15,8,...,4,7,Accel at Willow Bend,33.03550,-96.81001,Collin,30459.0,507.650000,9.762500,0.244062
2,9,87,10,10,15,12,11,11,12,7,...,10,6,Adora Midtown Park,32.87767,-96.74979,Dallas,18959.0,315.983333,6.076603,0.151915
3,10,4,2,0,1,0,1,0,0,0,...,0,0,Advance Healthcare Solutions,33.85238,-98.54057,Wichita,1062.0,17.700000,0.340385,0.008510
4,11,25,4,6,5,6,3,4,1,1,...,0,0,Advanced Health and Rehabilitation Center of G...,32.85707,-96.57941,Dallas,7685.0,128.083333,2.463141,0.061579

In [32]:
result2.to_csv("Data/curr_complete_dataset_delete_columns.csv",index=False)